.temp {
    border-radius: 10px;
    background-color: #0086ff;
    color: white;
    display: inline-block;
    padding: 6px 9px;
    margin: 2px 4px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    text-align: center;
}
h1 {
    text-align: center;
}

input[type=text] {
    width: 100%;
}

.input-group {
    margin-left: 12em;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #ffb562;
    color: black;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 8px;
}

.footer h6 {
    font-weight: 200;
}

.footer span {
    color: crimson;
}

.container {
    background-color:#ffb562;
}


@media screen and (max-width:1024px){

    body{
        width: 80%;
        text-align: center;
        align-items: center;
        margin: 0px auto;
    }
    .container{
       
        width: 100%;
    }
    .input-group {
        margin-left: 7em;
    }
    #search {
        width: 357px;
        margin: 4px auto;
        justify-content: center;
        text-align: center;
        display: inline-block;
    }

    #button-addon2{
        margin: 0 auto;
    }

    #footer{
        width: 100%;
        height: 55px;
        bottom: 0;
        position: absolute;
        text-align: center;
        padding-top: 8px;
        left:0px;
        display: inline-block;
    }
}

@media screen and (max-width:768px){
    body{
        width: 70%;
        text-align: center;
        align-items: center;
        margin: 0px auto;
    }
    .container{
        width: 100%;
    }
    .input-group {
        margin-left: 0;
    }
    #search {
        width: 357px;
        margin: 4px auto;
        justify-content: center;
        text-align: center;

    }

    #button-addon2{
        margin: 0 auto;
    }

    #footer{
        width: 100%;
        height: 55px;
        bottom: 0;
        text-align: center;
        padding-top: 2px;
        left:0px;
        display: inline-block;
    }
}

